@model  MVCLogin.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>Mind IT Systems</title>

    <script>

        var states = new Array();

        states['delhi'] = new Array('Pitampura', 'Ncr', 'Rohini');
        states['mp'] = new Array('Satna', 'Gwalior', 'Reeva');
        states['up'] = new Array('Jhaansi', 'Agra', 'Noida');
        states['andhra'] = new Array('vijaywada', 'vishakhapatnam', 'hyderabad');
        states['himachal'] = new Array('Manali', 'Kufri', 'Shimla');

        function setStates() {
            cntrySel = document.getElementById('state');
            stateList = states[cntrySel.value];
            changeSelect('city', stateList, stateList);
        }

        function changeSelect(fieldID, newOptions, newValues) {
            selectField = document.getElementById(fieldID);
            selectField.options.length = 0;
            for (i = 0; i < newOptions.length; i++) {
                selectField.options[selectField.length] = new Option(newOptions[i], newValues[i]);
            }
        }

    </script>
</head>
<body>
    <div class="container">
        <div class="jumbotron" id="header"
             style="background-image: url('../../Images/mindit.png'); background-position: right; background-repeat: no-repeat; color: white; text-shadow: black 0.3em 0.3em 0.3em;">
            <header>

                <h1 background-color="black">Mind IT Systems</h1>
            </header>

        </div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse" id="myNavbar">

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Login")" >
                                <span>Home</span>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="@Url.Action("LogOut", "Home")">
                                <span>Logout</span>
                            </a>
                        </li>
                      </ul>
                   


                </div>
            </div>
        </nav>

        <div>
            <article class="well well-sm">
                <h1>Employee</h1>
            </article>
        </div>
        <p id="msg"></p>

        @using (Html.BeginForm("Save", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

           // @Html.HiddenFor(model => model.memberId)

            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2>Personal Information</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped ">
                            <tr>

                                <td>
                                    @Html.LabelFor(model => model.firstname)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.firstname)
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(model => model.firstname)
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.lastname)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.lastname)
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(model => model.lastname)
                                </td>



                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.email)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.email)
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(model => model.email)
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.gender)
                                </td>
                                <td>
                                    @Html.RadioButtonFor(model => model.gender, "M", false)@Html.Label("Male")
                                    @Html.RadioButtonFor(model => model.gender, "F", false)@Html.Label("Female")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.date)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.date)
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(model => model.date)
                                </td>
                                <td>
                                    @Html.LabelFor(model => model.c_no)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.c_no)
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(model => model.c_no)
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    @Html.LabelFor(model => model.state)
                                </td>
                                <td>

                                    @{
                                        List<SelectListItem> listItems = new List<SelectListItem>();
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Delhi",
                                            Value = "delhi"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Himachal Pradesh",
                                            Value = "himachal",

                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Uttar Pradesh",
                                            Value = "up"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Madhya Pradesh",
                                            Value = "mp"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Andhra Pradesh",
                                            Value = "andhra"
                                        });
                                    }

                                    @Html.DropDownListFor(model => model.state, listItems, "-- Select State --", new { @onchange = "setStates()" })
                                </td>
                                
                                <td></td>
<td>

                                    @Html.LabelFor(model => model.city)
                                </td>
                                <td>

                                    @{
                                        List<SelectListItem> listItems3 = new List<SelectListItem>();
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Satna",
                                            Value = "Satna"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Pitampura",
                                            Value = "Pitampura",

                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Rohini",
                                            Value = "Rohini"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Gwalior",
                                            Value = "Gwalior"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Agra",
                                            Value = "Agra"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Noida",
                                            Value = "Noida"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "vijaywada",
                                            Value = "vijaywada"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "vishakhapatnam",
                                            Value = "vishakhapatnam"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "hyderabad",
                                            Value = "hyderabad"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Manali",
                                            Value = "Manali"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Kufri",
                                            Value = "Kufri"
                                        });
                                        listItems3.Add(new SelectListItem
                                        {
                                            Text = "Shimla",
                                            Value = "Shimla"
                                        });

                                    }

                                    @Html.DropDownListFor(model => model.city, listItems3, "--Select State--")
                                
                            
                                </td>
                            </tr>


                            <tr>
                                <td>

                                    @Html.LabelFor(model => model.nation)
                                </td>
                                <td>

                                    @{
                                        List<SelectListItem> listItems4 = new List<SelectListItem>();
                                        listItems4.Add(new SelectListItem
                                        {
                                            Text = "UK",
                                            Value = "uk"
                                        });
                                        listItems4.Add(new SelectListItem
                                        {
                                            Text = "London",
                                            Value = "london",

                                        });
                                        listItems4.Add(new SelectListItem
                                        {
                                            Text = "Shri Lanka",
                                            Value = "shri"
                                        });
                                        listItems4.Add(new SelectListItem
                                        {
                                            Text = "Russia",
                                            Value = "rusy"
                                        });
                                        listItems4.Add(new SelectListItem
                                        {
                                            Text = "South Africa",
                                            Value = "south"
                                        });

                                        listItems4.Add(new SelectListItem
                                        {
                                            Text = "India",
                                            Value = "indian"
                                        });
                                    }

                                    @Html.DropDownListFor(model => model.nation, listItems4, "-- Select Nation --")
                                </td>
                                <td></td>
                                <td>
                                    @Html.LabelFor(model => model.street)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.street)
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(model => model.street)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.pincode)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.pincode)
                                </td>
                                <td>
                                    @Html.ValidationMessageFor(model => model.pincode)
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2>Educational Qualification</h2>
                </div>

                <table class="table table-striped">
                    <tr>
                        <td></td>
                        <td>School/College</td>
                        <td>Board/University</td>
                        <td>Percent(%)</td>
                        <td>Passout Year</td>
                    </tr>
                    <tr>
                        <th>Matric</th>
                        <td>

                            @Html.EditorFor(model => model.schnm10)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.board10)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.Percent10)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.year10)
                        </td>
                    </tr>
                    <tr>
                        <th>High Secondary</th>
                        <td>

                            @Html.EditorFor(model => model.schnm12)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.board12)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.Percent12)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.year12)
                        </td>
                    </tr>
                    <tr>

                        <th>Graduation</th>
                        <td>

                            @Html.EditorFor(model => model.clgnmgrad)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.boardgrad)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.Percentgrad)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.yeargrad)
                        </td>
                    </tr>
                    <tr>
                        <th>Post Graduation</th>
                        <td>

                            @Html.EditorFor(model => model.clgnmupgrad)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.boardupgrad)
                        </td>
                        <td>

                            @Html.EditorFor(model => model.Percentupgrad)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.yearupgrad)
                        </td>
                    </tr>
                </table>
            </div>













                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h2>Work Details</h2>
                        </div>

                        <table class="table table-striped ">
                            <tr>

                                <td></td>

                            </tr>
                            <tr>
                                <td>

                                    @Html.LabelFor(model => model.profile)


                                    @{
                                        List<SelectListItem> listItems5 = new List<SelectListItem>();
                                        listItems5.Add(new SelectListItem
                                        {
                                            Text = "Quality Analyser",
                                            Value = "qt"
                                        });
                                        listItems5.Add(new SelectListItem
                                        {
                                            Text = "Web Development",
                                            Value = "wd",

                                        });
                                        listItems5.Add(new SelectListItem
                                        {
                                            Text = "Project Manager",
                                            Value = "pm"
                                        });

                                        listItems5.Add(new SelectListItem
                                        {
                                            Text = "DataBase Administrator",
                                            Value = "db"
                                        });
                                        listItems5.Add(new SelectListItem
                                        {
                                            Text = "Software Programmer",
                                            Value = "prog"
                                        });

                                    }

                                    @Html.DropDownListFor(model => model.profile, listItems5, "-- Select Profile --")
                                </td>
                            </tr>
                        </table>
                    </div>


                    <input type="submit" value="Submit" class="btn btn-success btn pull-right" />
                    
                                        }

    </div>




    <div id="footer" class="footer navbar-fixed-relative">
        <footer>
            <marquee scrollamount="4" direction="left" behavior="scroll">
                <label>
                    © Copyright 2016 - Mind IT Systems | All rights reserved
                </label>
            </marquee>
        </footer>
    </div>











    <script type="text/javascript">
        debugger;
        if ('@TempData["message"]' != null || '@TempData["message"]' != "") {
            var displayMessage = '@TempData["message"]';
            document.getElementById("msg").textContent = displayMessage;
        }
    </script>
</body>
</html>
