@model AdminltMVC.Models.DbConfig
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DbCredentials</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/plugins/iCheck/square/blue.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <!-- jQuery 2.2.3 -->
    <script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/plugins/iCheck/icheck.min.js"></script>
</head>

<body class="hold-transition login-page">
@using (Html.BeginForm("SaveDbCredentials", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="login-box" style="margin-top:20px;">
        
        <!-- /.login-logo -->
        <div class="login-box-body">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="login-logo">
                    <h3 class="box-title"><b>DB</b> Set-Up</h3>
                </div>
                <div class="box-body">             
                         
                         <div class="form-group" >
                            @Html.LabelFor(e => e.connectionString, "Connection Address")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-home"></i>
                                </div>
                              @Html.TextBoxFor(e => e.connectionString, new { placeholder = "   Address", style = "width: 261px;height:31px;border: 1px solid #ccc;", id = "rl", required = "required" , Title = "Enter Your Host Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(e => e.port, "Port")
                        <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-location-arrow"></i>
                                </div>
                                @Html.TextBoxFor(e => e.port, new { placeholder = "   Port", style = "width: 265px;height:31px;border: 1px solid #ccc;", id = "rl", @maxlength = "10", required = "required", pattern = @"^(0|[1-9][0-9]*)$",Title = "Enter Your Port"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(e => e.database, "Database")
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-database"></i>
                                </div>
                                @Html.TextBoxFor(e => e.database, new { placeholder = "   Database", style = "width: 265px;height:31px;border: 1px solid #ccc;", id = "rl", @maxlength = "50", required = "required", pattern = @"^[_A-z0-9]*((-|\s)*[_A-z0-9])*$", Title = "Enter Your Database Name" })
                               </div>
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(e => e.userId, "User Id")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @Html.TextBoxFor(e => e.userId, new { placeholder = "   User", style = "width: 265px;height:31px;border: 1px solid #ccc;", id = "rl", @maxlength = "20", required = "required", pattern = @"^([a-zA-Z .&'-]+)$", Title = "Enter Your User Id" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.password, "Password")
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            @Html.PasswordFor(e => e.password, new { placeholder = "   Password", style = "width: 265px;height:31px;border: 1px solid #ccc;", id = "rl", @maxlength = "20", required = "required", Title = "Enter Your Password" })
                        </div>
                    </div>
 </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Clear</button>
                    <button type="submit" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
            <!-- /.box -->

        </div>

    </div>   
    }
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
    </script>
</body>

</html>
